.list {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #00BCD4;
    background-color: #e4fcff;
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.list p {
    margin: 0; 
    padding: 0;
}